  <div class="carousel">
    
    <a class="carousel-item carousel-item white black-text" href="/games/1"><h1>Counter-Strike</h1><img src="http://i.picresize.com/images/2017/05/01/ZTV6.jpg" border="0" /></a>

    <a class="carousel-item carousel-item white black-text" href="/games/2"><h1>OverWatch</h1><img src="http://i.picresize.com/images/2017/05/01/ZhkoW.jpg" border="0" /></a>

    <a class="carousel-item carousel-item white black-text" href="/games/3"><h1>HearthStone</h1><img src="http://i.picresize.com/images/2017/05/01/yVviz.jpg" border="0" /></a>

    <a class="carousel-item carousel-item white black-text" href="/games/4"><h1>League Of Legends</h1><img src="http://i.picresize.com/images/2017/05/01/2QkiP.jpg" border="0" /></a>

    <a class="carousel-item carousel-item white black-text" href="/games/5"><h1>Player Unknowns Battlegrounds</h1><img src="http://i.picresize.com/images/2017/05/01/Q8FT.jpg" border="0" /></a>
  </div>