<form>
	<input type="text" name="user[username]">
	<input type="text" name="user[full_name]">
	<input type="email" name="user[email]">
	<input type="text" name="user[password]">
	<button type="submit">Create New</button>
</form>