  <div class="parallax-container">
  	<div class="parallax"><img src="/images/homepage_1.jpg"></div>
  </div>
  <div class="section white">
  	<div class="row container">
  		<h1 class="header">STREAMBRO</h1>
  		<% if @errors %>
  		<% @errors.each do |errors|%>
  		<%= errors %>
  		<br>
  		<% end %>
  		<% end %>
  		<p class="grey-text text-darken-3 lighten-3">Welcome to StreamBro</p>
  	</div>
  </div>
  <div class="parallax-container">
  	<div class="parallax"><img src="/images/homepage_2.jpg"></div>
  </div>